.button{
    display: flex;
    justify-content: space-between;
    width: 94%;
    margin: 0 3%  0 3%;
  }
  mat-card{
    width: 50%;
    margin-bottom: 3%;
    background-color: aliceblue;
  }
  .tasks{
    display: flex;
    justify-content: center;
  }